/* ================== Font ================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* ================== Root ================== */
:root {
  --white:#fff;
  --black:#000;
  --nunito:"Nunito Sans", sans-serif;
  --primary-color:#3a0ca3;
  /* --yellow:#ffce40;
  --blue:#3789eb;
  --purple:#5143d9;
  --green:#21ab64;
  --green1:#1ec28b;
  --green2:#6abd45; */
  /* --green3:#2ECC71; */
  --gray:#747579;
  --black-shade:#1D2A3B;
}
body, html {
  overflow-x: hidden;
  font-family: var(--nunito);
}
body{
  padding: 0 !important;
}
a {
  text-decoration: none;
}
ul{
  padding-inline-start: 0;
  list-style: none;
}
.bg-gray{
  background-color: #f4f2fe;
}
/* ================== Scroll Bar ================== */
::-webkit-scrollbar-track
{
    border-left: 1px solid #e0e0e0;
    margin: 0px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #d2d3d5;
}
/* ================== Button ================== */
.btn {
  padding: 10px 18px;
  border-radius: 5px;
}
.btn-primary, .btn-outline-primary{
    font-size: 16px;
    font-weight: 600;
    min-width: 100px; 
}
.btn-primary{
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-check:checked+.btn, .btn-primary.active, .btn-primary.show, .btn-primary:first-child:active, :not(.btn-check)+.btn-primary:active,
.btn-primary:focus-visible {
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary{
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active{
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.top-header .btn-primary:hover, .top-header .btn-primary:focus, .top-header .btn-primary:active, .top-header .btn-primary.active {
  background: transparent;
  color: var(--white);
  border-color: var(--white);
}
.btn-check:checked+.btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check)+.btn:active:focus-visible {
  box-shadow: none !important;
}
/* ================== Text ================== */
h1, h2, h3, h4, h5, h6{
  color: var(--black);
}
.heading-primary{
 font-size: 35px;
 font-weight: 700;
 color: var(--black);
}
.heading-secondary{
    font-size: 25px;
    margin: 1rem 0;
    color: var(--black-shade);
    font-weight: 700;
}
p{
  color: var(--gray);
  font-size: 16px;
}

::placeholder {
  color: var(--black-shade);
}
.custom-sec{
  padding: 6rem 0 2rem;
}
/* ================== Navbar Section ================== */
.language-selector{
  display: flex;
  align-items: center;
}
.navbar-brand {
  font-size: 24px !important;
  color: var(--primary-color);
  font-weight: 700;
}
.language-selector .form-select, .navbar-nav .nav-link,  
.navbar-nav .show>.nav-link,
.navbar-nav .dropdown-item,
.navbar-expand-md .navbar-nav .nav-link{
  color: var(--black-shade);
  font-size: 16px;
  font-weight: 700;
}
.language-selector svg{
  width: 25px;
  height: 25px;
  fill: var(--primary-color);
}
.language-selector .form-select {
  border: none !important;
}
.navbar-nav .nav-link,  
.navbar-nav .show>.nav-link,
.navbar-nav .dropdown-item,
.navbar-expand-md .navbar-nav .nav-link{
  padding-left: .8rem !important;
  padding-right: .8rem !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{
  color: var(--primary-color);
}
.navbar-nav .nav-link{
  position: relative;
}
.navbar-nav .nav-link::before{
  position: absolute;
  content: "";
  width:0;
  height: 1px;
  background-color: var(--primary-color);
  transition: width .15s ease-in-out;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.navbar-nav .nav-link:hover::before{
width:70%
}
.dropdown-toggle::after{
  border: none;
  content: "";
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231d2a3b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-left: 12px;
}
.navbar .btn-primary{
  border-radius: 25px;
  margin-left: 8px;
}
/* ================== Banner Section ================== */
.carousel-caption {
  background: rgba(255, 255, 255, .90);
  border-radius: 10px;
  bottom: initial !important;
  top: 25%;
  /* transform: translateY(-50%); */
  width: 35%;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1.5rem;
  text-align: left;
}
.carousel-caption h1, .carousel-caption h2 {
  font-size: 65px;
  font-weight: 900;
  letter-spacing: 1.2px;
}
.carousel-caption p{
  font-size: 20px;
  font-weight: 500;
}
.banner svg{
  width: 18px;
  height: 18px;
  fill: var(--primary-color);
  margin-right: 5px;
}
.banner label {
  color: var(--gray);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner label span{
  margin-top: 3px;
  font-weight: 500;
  font-size: 12px;
  color: #67767C;
}
.select2-container{
  width: 100%;
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  /* content: ""; */
  border:none !important;
  content: "";
    height: 12px !important;
    width: 12px;
    border: none;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231D2A3B' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border: none !important;
}
.select2-container--default .select2-selection--single,
.select2-search--dropdown, .form-control {
  border: none !important;
  border-radius: 0px !important;
  background: #f9f9f9;
  height: 45px !important;
  margin-top: 15px;
  position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: var(--black-shade) !important;
  font-size: 14px;
  line-height: 45px;
}
.select2-results__option {
  padding: 10px;
  color: var(--black-shade) !important;
  font-size: 14px;
}
.select2-dropdown{
  border:none !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fbfbfb;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary-color);
  color:var(--white) !important;
}
.select2-results__option:hover{
  background-color: var(--primary-color);
  color: var(--white) !important;
}
.banner .btn svg {
  width: 16px !important;
  height: 16px !important;
}
.banner .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}
.banner .btn svg{
  margin-right: 10px;
}
.banner .btn:hover path, .btn-primary:focus path, .btn-primary:active path, .btn-primary.active path{
  fill:var(--primary-color)
}
.ui-widget-content {
  border: none;
  background: var(--white);
  color: var(--black-shade);
  font-size: 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.ui-widget-header {
  border: none;
  background: var(--primary-color);
  color: var(--white);
  font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev.ui-state-hover span, .ui-datepicker .ui-datepicker-next.ui-state-hover span{
  background-image: url("https://code.jquery.com/ui/1.11.4/themes/ui-lightness/images/ui-icons_ffffff_256x240.png");
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  font-weight: bold;
  color: #8c8c8c;
  font-size: 12px;
  background: #FAFAFA;
  text-align: center;
  padding: 6px 3px;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none;
  background: var(--primary-color);
  color: var(--white);
}
.ui-corner-all.ui-state-hover, .ui-corner-all.ui-state-focus{
  border: none;
  background: transparent;
  color: var(--primary-color);
}
/* .banner .form-control{
  margin-top: 6px;
} */
/* ================== Section ================== */
.next-place .card{
  border:none !important
}
.next-place .imgBox img{
  width: 100%;
  height: auto;
}
.next-place .card-inner {
  position: relative;
  width: inherit;
  height: 18.75rem;
  background: var(--clr);
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
.next-place .card-inner .box {
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 1.25rem;
  overflow: hidden;
}
.next-place .card-inner .box .imgBox {
  position: absolute;
  inset: 0;
}
.next-place .card-inner .box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.next-place .card-inner .box .icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  width: 6rem;
  height: 6rem;
  background: var(--clr);
  border-top-left-radius: 50%;
}
.next-place .card-inner .box .icon:hover .iconBox {
  transform: scale(1.1);
}
.next-place .card-inner .box .icon::before {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  left: -1.25rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}
.next-place .card-inner .box .icon::after {
  position: absolute;
  content: "";
  top: -1.25rem;
  right: 0.375rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem var(--clr);
}
.next-place .card-inner .box .icon .iconBox {
  position: absolute;
  inset: 0.625rem;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.next-place .card-inner .box .icon .iconBox:hover{
  background: var(--gray);
}
.next-place .card-inner .box .icon .iconBox span {
  color: var(--white);
  font-size: 1.5rem;
}
.next-place .card-inner .box .icon .iconBox .lni {
  font-size: 2rem !important;
  color: var(--white);
}
.color-pallat {
  position: fixed;
  z-index: 999;
  top: 50%;
  /* transform: translateY(-50%); */
  right: 0;
  width: 55px;
  height: 55px;
  background: var(--primary-color);
  color: var(--white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas.offcanvas-end {
  height: fit-content !important;
  top: 50%;
  /* transform: translateY(-50%) !important; */
  border: none !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.offcanvas-backdrop.show {
  opacity: 0;
}
.color-button{
  width:60px;
  height: 60px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 5px;
}
.color-button.yellow{
  background-color: #ecb71d;
}
.color-button.green{
  background-color: #1ec28b;
}
.color-button.blue{
background-color:#5143d9 ;
}
.featured-in img {
  height: 80px;
  max-width: 155px;
  filter: grayscale(100%);
  object-fit: contain;
}
.project-way-cnt{
  background: url("../images/img-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 15rem 0;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.project-way-cnt::before{
  position: absolute;
  content: "";
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .37);
}
.project-way .heading-primary, .project-way p {
  color: var(--white);
  margin-bottom: 1rem;
  position: relative;
}
.project-serv .container{
  background-color: #f6f8f9;
  border-radius: 10px;
  overflow:hidden;
}
.video-cnt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10%;
}
.video-cnt video{  
  border: 3px solid var(--white);
  object-fit: fill;
  object-fit: cover;
}
.project-serv-right .video-cnt{
  left: initial;
  right: -10%;
}
.project-serv-cnt{
  padding: 0 1.5rem;
}
.digital-exp li{
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.are-you-business-cnt{
  background-color: var(--primary-color);
  position: relative;
}
.digital-exp li p {
  margin-bottom: 0;
  color: var(--black-shade);
}
.digital-exp svg {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.app-store, .footer .copyright.justify-content-between{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid rgba(179, 179, 179, .2);
  margin-top: 2rem !important;
}
.app-store img{
  width: 250px;
  height: 80px;
  margin-right: 15px;
  object-fit: contain;
}
/* The device with borders */
.smartphone {
  position: relative;
  width: 300px;
  height: 100%;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 270px;
  height: 450px;
  background: white;
  overflow: hidden;
}
.future-liv-cnt{
  text-align: center;
}
.footer {
  background: var(--primary-color);
}
.footer li{
  margin-bottom: .5rem;
}
.footer a{
  color: var(--white);
  font-size: 16px;
}
.footer a:hover{
  opacity: .7;
}
.badges{
  display: flex;
  align-items: center;
}

.footer h4 {
  font-size: 14px;
  color: var(--white);
  opacity: .8;
  margin: 1rem 0 .7rem;
}
.footer .copyright.justify-content-between ul{
  display: flex;
  align-items: center;
}
.footer .copyright.justify-content-between div{
  color: var(--white);
  opacity: .8;
  font-size: 16px;
}
.footer .copyright.justify-content-between ul li {
  margin-left: 15px;
  margin-bottom: 0;
}
.footer .social-media a, .footer .copyright.justify-content-between div.social-media {
  opacity: 1 !important;
}
.footer svg {
  width: 25px;
  height: 25px;
  opacity: 1 !important;
}
.footer .social-media a:hover{
  opacity: .7 !important;
}
.footer .badges img{
  height: auto;
  width: 40px;
  object-fit: contain;
  margin-right: 40px;
  margin: 20px 0;
}
.card.custom-card {
  border: none;
  padding: 4rem;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
}
.card.custom-card img{
  border-radius: 15px;
  border-bottom-right-radius: 6rem;
}
.card.custom-card img.rounded-3{
  border-radius: 8px !important;
}
.extension-sec .card, .contact .card{
  height: 100%;
  overflow: hidden;
  border-color: #d9e5e9;
  border-radius: 8px;
}
.extension-sec .card .card-inner, .contact .card .card-inner{
  padding: 1rem 2rem 1rem;
}
.extension-sec .img{
  height: 200px !important;
  object-fit: cover;
  width: 100%;
}
.extension-sec p{
  margin-bottom: 0 !important;
  color: #4B5154;
  font-size: 16px;
  line-height: 25px;
}
.extension-sec .heading-secondary{
  font-weight: 700;
  font-size: 17px;
  line-height: 23.8px;
  color: var(--black);
  margin: 0.5rem 0 .5rem;
}
.contact .form-floating{
  margin-right: 15px;
}
.contact .form-control{
  margin-top: 0;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08);
  border-radius: 0.375rem !important;
}
.contact .form-floating>.form-select{
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08);
  border: none;
}
.contact label{
  font-weight: 500;
  /* font-family: "Gilroy", "Almarai", sans-serif; */
  color: #696969;
  font-size: 16px;
  display: initial !important;
}
.contact .form-floating>.form-control-plaintext~label, 
.contact .form-floating>.form-control:focus~label, 
.contact .form-floating>.form-control:not(:placeholder-shown)~label, 
.contact .form-floating>.form-select~label {
  color: #75969f;
  transform: scale(.85) translateY(-1.7rem) translateX(0.15rem);
  font-weight: 700;
}
.contact .form-floating>.form-control:not(:placeholder-shown), 
.contact .form-floating>.form-select {
  padding-top: .625rem !important;
  padding-bottom: .625rem;
}
.contact .floating-label__text-input:focus, 
.contact .form-floating>.form-control:focus,
.contact .form-floating>.form-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(117, 150, 159, .9);
}
.cnt-details .d-flex{
  margin-bottom: .5rem;
}
.cnt-details svg {
  margin-right: 15px;
  color: rgb(87, 110, 118);
  height: 24px;
  width: 24px;
}
.cnt-details p {
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 0;
}
.cnt-details a {
  color: #234c5b;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
.cnt-details svg {
  margin-right: 15px;
}
.contact iframe {
  border: 1px solid #d9e5e9;
  border-radius: 8px;
}
.contact{
  transform: translateY(-35%);
}
.banner.contact-banner img{
  height: 450px !important;
  width: 100%;
  object-fit: cover;
}
.custom-banner{
  background: url("../images/waiting.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.custom-banner::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  left: 0;
  right: 0;
  top: 0;
}
.banner-text {
  padding: 10rem;
  text-align: center;
}
.custom-banner h1{
  font-size: 34px;
  color: #fff;
  text-shadow: 0 4px 8px rgba(0,0,0,.4);
  font-weight: 800;
}
.custom-banner p{
  font-size: 18px;
  color: #fff;
}
.custom-banner .btn-primary:hover{
  background-color: var(--white);
  color: var(--primary-color);
  border-color: var(--white);
}
.numbers .numbers-cnt{
  position: relative;
  text-align: center;
  padding: 2rem 1rem;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers .numbers-cnt::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color:#ebebeb;
}
.numbers p, .numbers h3{
  position: relative;
}
.numbers h3{
  font-size: 32px;
  color: var(--black);
  font-weight: 700;
}
.numbers p{
  color: #4B5154;
  font-size: 15px;
}
.timeline-container img {
  width: 100%;
}
/* ================== Responsive Section ================== */
@media(min-width:1800px){
 
}
@media(min-width:991px){
  .carousel-item {
    height: 650px;
    overflow: hidden;
}
.booking-section {
  transform: translateY(-30%);
  position: relative;
  z-index: 1;
}
.carousel-caption {
  padding: 3.5rem;
}
.project-serv-cnt {
  padding: 0 2rem;
  width: 90%;
}
.project-serv-right .project-serv-cnt{
  margin-left: auto;
}
.are-you-business-cnt::before {
  position: absolute;
  content: "";
  width: 65%;
  height: 100%;
  background: var(--primary-color);
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
.phone-video {
  /* position: absolute;
  right: 0;
  top: -15%; */
}
.custom-banner h1{
  font-size: 76px;
}
.custom-banner p{
  font-size: 22px;
}
}
@media(max-width:991px){
  .custom-sec{
    padding: 3.5rem 0 0;
  }
  .video-cnt {
    left: 0% !important;
    right: 0 !important;
    margin: auto;
    text-align: center;
  }
  .are-you-business-cnt{
    padding: 2.5rem 0;
    text-align: center;
  }
  .are-you-business-cnt img{
    display: none;
  }
  .app-store{
    justify-content: center;
  }
  .carousel-caption h1, .carousel-caption h2{
    font-size: 28px;
  }
  .carousel-caption p{
    font-size: 16px;
  }
  .project-way-cnt {
    padding: 10rem 2rem;
  }
  .card.custom-card {
    padding: 3rem;
}
.heading-primary {
  font-size: 25px;
}
.heading-secondary {
  font-size: 22px;
}
.banner-text {
  padding: 5rem 2rem;
}
}
@media(max-width:1200px){
  .carousel-caption{
    display: none;
  }
  .carousel-caption.d-block{
    position: initial !important;
    width: 100%;
    padding: 2rem 0 !important;
  }
  .inner-banner .carousel-caption.d-block{
    position: absolute !important;
    width: 60% !important;
    margin: auto;
    padding: 2rem 3rem !important;
    border-radius: 15px;
    text-align: center;
    right: 0;
  }
}
@media(max-width:520px){
  .inner-banner .carousel-caption.d-block{
    width: 85% !important;
    padding: 1rem 1rem !important;
    top: 50%;
    bottom: initial !important;
    transform: translateY(-50%) !important;
  }
  .inner-banner .carousel-caption.d-block p{
    margin-bottom: 0;
  }
  .card.custom-card img {
    border-bottom-right-radius: 2rem;
}
.card.custom-card {
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding: 2rem;
}
}

/* Timeline */
/*===============*/

/*Combined*/
.timeline-container,
.timeline-container li {
	position: relative;
}

.timeline-container:after,
.timeline-container li:before,
.timeline-container li > div:before,
.timeline-container li:first-child div:after,
.timeline-container li:last-child div:after {
	content: '';
	position: absolute;
}

/* color */
.timeline-container li:before {
	background-color: var(--primary-color);
}
.timeline-container:after{
  border-left: 2px dashed var(--primary-color);
}
.timeline-container li:first-child div:after,
.timeline-container li:last-child div:after, .timeline-container:after{
  opacity: 0.3;
}
.timeline-container:after,
.timeline-container li h3,
.timeline-container li:first-child div:after,
.timeline-container li:last-child div:after {
	left: 50%;
	transform: translateX(-50%);
}

.timeline-container li h3,
.timeline-container li > div:before {
	top: 50%;
	transform: translateY(-50%);
}

/*clearfix*/
.timeline-container li:after {
	clear: both;
	content:'';
	display: table;
}

.timeline-container li {
	margin: 60px 0;
}

.timeline-container li:first-child {
	margin-top: 0;
}

.timeline-container li:last-child {
	margin-bottom: 0;
}

/*timeline content*/
.timeline-container li > div {
	width: 40%;
	color: #fff;
	padding: 15px 25px;
	border-radius: 1px;
}

.timeline-container li:nth-child(odd) > div {
	float: left;
}

.timeline-container li:nth-child(even) > div {
	float: right;
}

/* Main vertical line middile */
.timeline-container:after {
	width: 2px;
	height: 100%;
	top: 0;
	bottom: 0;
}

.timeline-container li h3 {
	position: absolute;
	margin-left: 20px;
  font-size: 20px;
    font-weight: 700;
}


.timeline-container li:nth-child(even) h3 {
	margin-left: 0;
	left: auto;
	right: 50%;
	margin-right: 20px;
}

/* Square */
.timeline-container li:before {
  height: 20px;
  width: 20px;
  border: 3px solid #fff;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: drop-shadow(0 4px 10px rgba(35, 76, 91, .1));
}

/* Horizontal line */
.timeline-container li > div:before {
	height: 2px;
	left: 40%;
	width: 10%;
}
.timeline-container li:nth-child(even) div:before {
	left: auto;
	right: 40%;
}

/* Remove the top part of main vertical line */
.timeline-container li:first-child div:after,
.timeline-container li:last-child div:after {
  width: 2px;
  top: 0;
  height: 50%;
  z-index: 1;
  border-left: 2px dashed var(--primary-color);
  background: #fff;
}

.timeline-container li:last-child div:after {
	top: auto;
	bottom: 0;
}


/* Responsive CSS */
@media screen and (max-width: 767px) {
	
	.timeline-container li:nth-child(odd) > div,
	.timeline-container li:nth-child(even) > div{
		float: right;
		width: 95%;
	}
	
	.timeline-container li:first-child div:after,
	.timeline-container li:last-child div:after {
		content: none;
	}
	
	.timeline-container:after,
	.timeline-container li:first-child div:after,
	.timeline-container li:last-child div:after,
	.timeline-container li:before {
		top: 0;
		left: 0;
	}
	
	.timeline-container li h3,
	.timeline-container li:nth-child(even) h3 {
		top: 0;
		left: 3%;
		margin: 0;
		right: auto;
	}
	
	.timeline-container li {
		margin: 0;
		padding: 35px 0;
	}
		
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}