a {
    color: #000;
    text-decoration: none;
}
a:hover{
     text-decoration: none;
}
.blg-cnt p{
        font-size: 13px;
    color: #757575 !important;
    font-weight: 600;
    padding-top: 12px;
    text-align: right;
}
.blg-cnt h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.blg-cnt h5{
        font-size: 16px;
    color: #757575;
    letter-spacing: 1px;
    font-weight: 600;
}
p.blg-sub-cnt{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px !important;
    line-height: 27px;
    margin-top: 0;
    text-align: justify !important;
    color: rgba(0, 0, 0, 0.5)!important;
    padding-top: 0;
}
.read-blog {
    background: transparent;
    border: 2px solid #45e245;
    padding: 8px 20px;
    border-radius:0;
    transition: all .5s;
}
.read-blog:hover{
    transform:scale(1.1);
}
h1.blog-heading {
      text-align: center;
    margin: 0;
    color: #fff;
    padding: 4em;
    font-weight: 600;
    position: absolute;
    left: 49.95%;
    transform: translate(-50%, -50%);
    width: 100%;
     animation: top 1.5s forwards; 
      animation-delay: 8s;
      
}
 @keyframes top {
  0%{top: -25em;}
  100%{top: -12em;}
}
  @keyframes top1 {
  0%{top: -25em;}
  100%{top: -13em;}
}
.blog-banner{
    position:absolute;
    width:100%;
}
 .mrg{
        margin-top:-4em;
    }
 .bounce-up1{
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(-120px, 0px, 0px);
  -webkit-transform: translate3d(-120px, 0px, 0px);
  -o-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate3d(-120px, 0, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bounce-up2{
   opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(119px, 0px, 0px);
  -webkit-transform: translate3d(119px, 0px, 0px);
  -o-transform: translate(119px, 0px);
  -ms-transform: translate(119px, 0px);
  transform: translate3d(119px, 0, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media(max-width:768px){    
    .node--type-case-study.node--view-mode-teaser h3{
           max-width: 100%;
    }
}
@media(max-width:1024px){    
    .node--type-case-study.node--view-mode-teaser h3{
           max-width: 100%;
    }
}
@media(max-width:1280px){
    .bounce-up2{
         -moz-transform: translate3d(76px, 0px, 0px);
  -webkit-transform: translate3d(76px, 0px, 0px);
  -o-transform: translate(76px, 0px);
  -ms-transform: translate(76px, 0px);
  transform: translate3d(76px, 0, 0px);
    }
    .bounce-up1{
        -moz-transform: translate3d(-76px, 0px, 0px);
  -webkit-transform: translate3d(-76px, 0px, 0px);
  -o-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate3d(-76px, 0, 0px);
    }
    .mrg{
        margin-top:-12em;
    }
}
@media(min-width:1440px){
    h1.blog-heading{
        animation: top1 1.5s forwards !important; 
         animation-delay: 8s !important;
    }
    .mrg{
        margin-top:-13em;
    }
}
