 .container1 {
            width: 100%;
            margin: 0;
            height: 100vh;
            background: #fff;
            overflow: hidden;
            position: relative;
            z-index: -1;
            position: absolute;
            top: 0px;
        }
         .text {
             position: absolute;
    transform: translate(2%, 39%);
    text-align: center;
    color: #66615c;
    font-size: 3.1em;
    font-weight: 700;
    background: #ededed;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif !important;
    padding: 3em 2em;
    width: 100%;   
        }
         .blog-img{
        position: absolute;
        transform: translate(2%, 30%);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        width: 100%;
        right: 4%;
         }
           @keyframes top {
            0% {
                top: 85%;
                opacity: 0;
            }

            100% {
                top: 45%;
                opacity: 1;
            }
        }
        @media(min-width: 1500px){
            .blog-img {
    transform: translate(2%, 18%);
    width: 100%;
    right: 5%;
}
.text {
             position: absolute;
    transform: translate(2%, 55%);
}
        }
        .blog-cnt {
    margin: 2% 25%;
}
.blog-sub-cnt {
    letter-spacing: 1px;
    font-size: 16px !important;
    line-height: 27px;
    margin-top: 10px;
    text-align: justify !important;
    color: rgba(0, 0, 0, 0.7)!important;
        margin: 2% 0%;
}
.blog-sub-heading {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    font-family: roboto,sans-serif;
        margin-top: 15px;
}
.blog-sub-img{
        width: 100%;
        padding: 3% 5%;
}
.webroas-link{
    color: #39006a;
    font-weight: 600;
}
.more-blog-cnt>h2{
    color: #242b34 !important;
    font-size: 30px;
    font-family: roboto,sans-serif;
    font-weight: 600;
    margin: 2% 1.1%;
}
.more-blog-cnt {
    background: url(image/img2.png);
    padding: 2% 20%;
}
.more-blog-cnt>a>.pading>h6 {
    color: rgba(0, 0, 0, 0.7)!important;
    color: #000;
    padding: 0 5%;
}
.more-blog-cnt>a>.pading>p {
    color: #000;
    padding: 0 5%;
    font-size: 1.3em;
    /* letter-spacing: 1px; */
    font-weight: 600;
}
@media(max-width: 767px){
    .blog-cnt {
    margin: 2% 2% !important;
}
.mrg-res{
        margin-top: 100vh !important;
}
.blog-img {
    transform: translate(0%, 18%) !important;
    right: 0% !important;
}
.text {
    position: absolute;
    transform: translate(0%, 70%) !important;
    left: 0% !important;
    }
}
@media(max-width: 768px){
    .blog-cnt {
    margin: 2% 8%;
}
.blog-img {
    transform: translate(0%, 82%);
    right: 0;
}
.text{
   padding: 3em 2em !important;
   transform: translate(0%, 41%) !important;
}
}
@media(max-width: 1024px){
    .text {
    transform: translate(2%, 41%);
    padding: 2em 2em;
}
}
