body{
     background: #f7f7f7;
      font-family: 'Prompt', sans-serif;
}

.contact-container {
    background: #6a6560;
display: block;
	display: -webkit-box;
	 display: -ms-flexbox;
	-webkit-box-align: center;
	 -ms-flex-align: center;
	align-items: center;
	  position: absolute; 
	    top: -47.6em;
        padding: 1em;
    width: 100%;
     background:url(../image/img1.png);
     height:100vh;
     transition:z-index 0.2s
}
.z-indexx{
    z-index:-1;
     transition:z-index 0.2s
}
span.contact-heading {
    color: #fff;
    font-size: 3.3em; 
    border-bottom: 1px solid rgba(69, 226, 69, 0.51);  
        padding-bottom: 0.3em;
        padding: 10px;
}
.rotate{
    transform: rotateZ(-90deg);
    position: absolute;
    left: -5em;
    top: -3em;
}
.heading-div {
    position: absolute;
    left: 6.9em;
    top: -7em;
}
h1.hear {
    color: #fff;
    line-height: 1.15em;
        font-weight: 600;
}
font.clr {
    color: #45e245;
}
.contact-chld {
    width: 100%;
}

#form1{
        margin-top: -8em;
}

#form1 .box form .header h1 {
	font-size: 1.8em;
	letter-spacing: 3px;
	color: #ffc;
}

#form1 .box form .inputBox {
	    position: relative;
    margin: 60px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 30px;
} 

#form1 .box form .inputBox input {
	height: 35px;
	width: 100%;
	padding: 10px 3px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #ffe;
	box-sizing: border-box;
	border-bottom: 2px solid #45e245;
	transition: .2s;
}

#form1 .box form .inputBox label {
	    position: absolute;
    left: 0;
    top: -3px;
    font-size: 1em;
    color: #ffe;
    transition: .2s;
    font-weight: 500;
}

#form1 .box form .inputBox input:focus ~ label,
#form1 .box form .inputBox input:valid ~ label {
	top: -20px;
	left: 0;
	font-size: 13px;
	color: #45e245;	
}
#form1 .box form .inputBox input:focus {
	border-color: #fff;
}
.submit {
    text-align: center;
}
button.btn.btn-submit {
    background: transparent;
    border: 2px solid #45e245;
    color: #fff;
    min-width: 111px;
    font-size: 1.4em;
    transition:0.5s;
}
button.btn.btn-submit:hover{
    transform:scale(1.1);
}
.cls1, .cls2{
    min-height:330px;
    z-index:-1;
}
.cls1{
    background:url(../image/Charminar.jpg) no-repeat center center;
    background-size:100% 100%;
}
.cls2{
    background:url(../image/va-beach.jpeg) no-repeat center center;
    background-size:100% 100%;
}
.cls1 h2, .cls2 h2 {
    margin-top: 0;
    text-align: center;
    padding: 4em;
    padding-top: 5em;
    color: #fff;  
    transition:all 0.5s;
}
.cls1 p, .cls2 p {
    text-align: center;
    color:#fff;
    opacity:0;
    transition:all 0.5s;
    text-decoration: underline;
    font-size:1.1em;
}
.cls2 p{
 color:#39006a;
}
a:hover{
    text-decoration:none;
}
a:hover .cls1>h2{
    padding-bottom: 0.5em;
    padding-top: 3em;
}
a:hover .cls2>h2{
   padding-bottom: 0.5em;
    padding-top: 3em;
}
a:hover .cls1>p{
     opacity:1;
}
a:hover .cls2>p{
   opacity:1;
   transition:all 0.5s;
}
.trnss{
    margin-top: -13em;
    padding: 5em;
    padding-bottom: 2em;
    background: url(../image/img2.png);
    padding-top: 0;
}
 .trns {
        margin-top: 4em !important;
    }
 .trns>.location{
       color:#271b50;
 }
.add-font{
    font-weight:600;
}
.location{
        /* padding-top: 2em; */
    font-weight: 600;
    color: #fff;
    padding-bottom: .8em;
    text-align: center;
    margin-top: 0;
}
h2.location:before, 
h2.location:after {
  background-color: #45e245;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
}
h2.location:before {
    right: -1.35em;
    width: 30px;
    height: 4px;
    top: -0.8em;
}

h2.location:after {
  left: 0.3em;
  width: 0;
}
.add-cnt {
    text-align: center;
    padding: 2em;
    background: #fff;
    
}
.add-cnt .fa-phone, .add-cnt .fa-whatsapp{   
    padding-right:1em;
    font-size: 1.3em;
     color:#39006a;

}
.add-cnt p {   
    font-size:1.1em;
    color: #676767;
    padding: 0.6em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-family: 'Prompt', sans-serif;
}
.helo {   
    font-size:1.1em;
    color: #676767;
    text-align:center;
    padding-bottom: 1em;
}
.add-cnt h3{
    margin-bottom: 0;
}
.add-cnt a {
    color: #271b50;
    font-size: 0.55em;
    transition:all 0.5s;
}
.a-hover:hover{
   text-decoration: none;
   color:#757575;
   font-size: 0.59em;
}
.border {
    border-right: 2px solid rgba(103, 103, 103, 0.31);
    padding-right: 3em;
}
.social {
    text-align: center;
    padding: 1em;
}
.social {
    text-align: center;
    padding: 3em;
}
.btn-social {
    background: #b3b3b3;
    border-radius: 0;
    margin: 0.2em;
    padding: 0.8em 1.1em;
    font-size: 1.5em;
    color: #fff;
    transition: all 0.5s;
}
.btn-social:hover{
    transform:scale(1.1);
          background:#271b50;
    color:#fff;
     animation: animation 1s forwards ease;
}
@media(max-width:768px){
    .contact-container{
            top: -73.6em !important;
    }
}
@media(max-width:1024px){
      .contact-container{
           top: -97.6em;
    }
}
@media(max-width:1280px) {
    .contact-container {
        top: -44.6em;
    }
}
@media(max-width:767px) {
    .contact-container {
        top: -36.6em !important;
            height: auto;
    background-size: 100% 100%;
    }

    .trnss {
        margin-top: 36.5em;
        padding: 0em;
    }
    .trns{
        margin-top:45.5em !important;
    }
     .trnsss{
        margin-top:45.5em !important;
    }
    .rotate{
            top: 10em;
    }
    .heading-div{
        top: 4.5em;
    }
    #form1 {
    margin-top: 23em;
}
    #form1 .box form .inputBox{
            margin-left: 0;
    margin-right: 0;
    }
    .location{
            margin-top: 233px;
            color:#271b50;
    }
    .cls1, .cls2{
        min-height:0;
    }
    .cls1 h2, .cls2 h2{
        padding-left:0;
        padding-right:0;
    }
    .add-cnt{
        padding:1em !important;
    }
    .border {
    border-right: none;
    padding-right:0;
}
    .add-cnt p{
        padding:10px !important;
    }
    .social{
        padding:0;
    }
}
@media(min-width:1440px) {
    .contact-container {
       /* top: -58.6em;*/
        top: -51.6em;
    }
    .trnss {
        margin-top: -15em;
    }
    .location{
            font-size: 3em;
    }
}
@media(min-width: 1500px){
     .contact-container {
          top: -58.6em !important;
    }
}
/*.trns{
  transform: translateY(-100%);
    padding: 5em;
    z-index:-1;
}*/
/*.contact-container p {

  color: #45e245;
    text-align: center;
    position: relative;
    font-family: 'Prompt', sans-serif;
   font-size: 1.5em;
    margin: 3em;
    transform: translate(0px, 50%);
}
.contact-container h2 {
    color: #fff;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin-bottom: 7em;
}*/

/*
.contact-container1 {
    background: #6a6560;
display: block;
	display: -webkit-box;
	 display: -ms-flexbox;
	-webkit-box-align: center;
	 -ms-flex-align: center;
	align-items: center;
	  position: absolute; 
	    top: -22em;
    width: 100%;
}
.contact-container1 p {
  color: #45e245;
    text-align: center;
    position: relative;
    font-family: 'Prompt', sans-serif;
   font-size: 1.5em;
    margin: 3em;
    transform: translate(0px, 50%);
}
.contact-container1 h2 {
    color: #fff;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    margin-bottom: 7em;
}

@media(min-width:1441px){
    .contact-container{
         top: -59em;
    }
    .trns {
        transform: translateY(-147%);
    }
    .contact-container1{
            top: -42em;
    }
    .trnss {
        transform: translateY(-65%);
    }
}*/