html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}
.footer{
    background:url(../image/footer-background.jpg) no-repeat center center;
    background-size:100% auto;
    z-index:1;
    width:100%;
    position:fixed;
    bottom:0;
    font-family: 'Raleway', sans-serif !important;
    letter-spacing:1px !important;
}
.footer-heading {
    color: #fff;
    font-size: 2.5em;
    padding: 1em;
    line-height: 1.2em;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}
.relative{
    position:relative;
    z-index:2;
}
.btn-get{
       background: transparent;
    border: 2px solid #45e245;
    color: #fff;
    min-width: 111px;
    font-size: 1.4em;
    transition: 0.5s;
    transform: translate(60%, 0%);
    border-radius: 0;
    font-weight:600;
}
.btn-get:hover{
    transform:scale(1.1);
    transform: translate(65%, 5%);
     color: #fff;
}
.foot-ad {
    text-align: center;
    padding: 2.5em;
     font-family: 'Raleway', sans-serif !important;
}
.footer-address {
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    margin-top: 36px;
    font-weight: 600;
    font-family: 'Prompt', sans-serif !important;
    margin-bottom: 5px;
}
.foot-ad p {
    color: #fff;
    margin-top: 7px;
    font-family: sans-serif !important;
    margin-bottom: 5px;
}
.foot-ad h3 {
    font-size: 1.1em;
        font-weight: lighter;
        margin-bottom: 1.5em;
        margin-top: 0em;
         font-family: 'Raleway', sans-serif !important;

}
.foot-ad h3 a {
  color:#fff;
  text-decoration:underline;
   font-family: 'Raleway', sans-serif !important;
}
.foot-ad h2>a {
    color: #fff;
    font-size: 0.6em;
     font-family: 'Raleway', sans-serif !important;
}
.down-footer {
    margin-left: 4em;
    margin-right: 4em;
         padding-bottom:2em;
          font-family: 'Raleway', sans-serif !important;
     }
hr {
    margin-top: 18%;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}
span.foot-menu {
    display: inline;
     font-family: 'Raleway', sans-serif !important;
}
.foot-menu a {
    color: #fff;
    font-size: 1.15em;
    padding-right: 3em;
     font-family: 'Raleway', sans-serif !important;
}
.down-footer p {
    color: #eee;
    margin-top: 1.4em;
    font-weight: lighter;
     font-family: 'Raleway', sans-serif !important;
}
.social-btn {
    color: #fff;
    /*border: none;*/
    border: 1px solid transparent;
    /* border-radius: 50%;*/
    transform: translate(0%, 70%);
    font-size: 1.3em;
    transition: all 0.5s;
    padding:6px 8px !important;
}
    .social-btn:hover {
        color: #45e245;
        border: 1px solid transparent;
        border-radius: 0;
    }
    .terms {
    text-align: right;
     font-family: 'Raleway', sans-serif !important;
}
.foot-menu1 {
    display: inline;
    padding-left: 4em;
     font-family: 'Raleway', sans-serif !important;
}
.foot-menu1 a{
    color:#fff;
     font-family: 'Raleway', sans-serif !important;
     font-size:1.15em;
}
.desktop-footer{
    display:block;
}
.mobile-footer{
    display:none;
}
img.foot-logo {
    width: 5%;
}
.mobile-footer .social-btn {
    float: right;
}
@media(max-width:767px){
    .social-btn{
              transform: translate(0%, 0%);
              font-size: 1em !important;
              margin:2px;
    }
    img.foot-logo {
    width: 14%;
}
    .terms {
    text-align: left;
    margin-top:1em;
}
    .down-footer p{
            margin-bottom: 1em;
    }
    .desktop-footer{
    display:none;
}
    .mobile-footer{
    display:block;
        padding: 1em;
}
    .footer{
        background:#000 !important;
    }
    body{      
        overflow-x: hidden !important; 
    }
}
@media(max-width:768px){
    .footer{
        height:auto !important;
            background-size: 100% 100%;
    }
    .foot-menu a{
            font-size: 0.9em !important;
    padding-right: 1em !important;
    }
    .foot-menu1 a {
        font-size: 0.9em !important;
    }
        .foot-menu1 {
    padding-left: 5px !important;
}
    .footer-heading{
            font-size: 2em !important;
    }
    .footer-address{
            font-size: 1.1em !important;
    }
    .foot-ad p{
        font-size:12px !important;
    }
    .foot-ad h3{
            font-size: 0.9em !important;

    }
    .foot-ad h2>a{
        font-size:0.4em;
    }
    .btn-get{
        font-size:1em !important;
    }
    .down-footer{
            margin-left: 1em !important;
    margin-right: 1em !important;
    }
    .social-btn {
        font-size: 0.3em;
        padding: 0px 5px !important;
        transform: translate(0%, 100%);
    }
}
@media(max-width:1024px){
    .footer{
        height:auto;
    }
    .foot-menu a {
    font-size: 0.8em;
}
    .foot-menu1 a {
        font-size: 0.8em;
    }
     .foot-menu1 {
    padding-left: 1em;
}
      .social-btn{
       font-size: 1em;
    padding: 6px 9px;
    }
}
@media(max-width:1280px){
   
    hr{
            margin-top: 14%;
    }
    .foot-menu1 {
        padding-left: 3em;
    }
    .social-btn {
        padding: 6px 12px;
    }
    .foot-menu1 {
        padding-left: 3em;
    }
}
@media(min-width:1440px){
     hr{
            margin-top: 18% ;
    }    
}
@media(min-width:1500px) {
    hr {
        margin-top: 18% !important;
    }
}
