body {
    font-family: 'Raleway', sans-serif !important;
}
.introduction{
display:block;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-ms-flex-align:center;
align-items:center;
max-width:960px;
margin:0 auto;
height:100vh;
padding:96px 24px 96px 24px;

/*position: absolute;*/
   top: -12%;
    left: 19%;
    /*z-index: 1;*/
    /*position: static;*/
     position: absolute;
    z-index:-1;


}
/*bounce*/
.bounce-up{
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  bottom: 0%;
}

.bounce-up.in-view{
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transform: translateY(24px)
}
@media(max-width:767px){
    .introduction{
        padding: 0px 24px 96px 24px !important;
        top: 0 !important;
    }
   h1.mb{
        line-height: 38px !important;
    }
   .bounce-up{
       opacity:1 !important;
       -moz-transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate(0px, 0px) !important;
  -ms-transform: translate(0px, 0px) !important;
  transform: translate3d(0px, 0px, 0px) !important;
  transform: translateY(24px) !important;
   }
   #scrollDownLocation{
       margin-bottom:0 !important;
   }
}
@media (min-width: 1020px){
h1.work-content {
    font-size: 72px;
    /*line-height: 84px;*/
}
}
p.content_w {
    font-size: 20px;
    padding-top: 17px;
    color: #fff;
}
.introduction__content {
    text-align: center;
    margin: 0 auto;
}
h1.work-content.in-view {
    line-height: 50px;
    font-weight: 900;
}
.animate.animated {
    opacity: 1;
}
img.animation-element.bounce-up.arrow-down {
    width: 19px;
    text-align: center;
    transform: translate3d(0px, -14px, 0px);

    width: 19px;
    padding-bottom: 70px;
}
    /*padding-top: 90px;*/

.icon {
    display: inline-block;
    width: 24px;
    /*height: 24px;*/
    stroke-width: 0;
    vertical-align: middle;
    fill: #FC363B;
}
h1.work-content {
    font-weight: bolder;
    line-height: 50px;
    font-size: 3em;
    color:#fff;
}
.block--grey {
    /*background-color: #F9F9F9;*/
    background-image: url(image/img2.png);
}
@media (min-width: 764px){
	.block {
    padding: 56px 0;
}
}

.block {
    display: block;
    width: 100%;
    padding: 1px 0;
    overflow: hidden;
    position: relative;
}
/*img.animation-element.bounce-up.arrow-down {
    width: 10px;
}*/
h2.head_work {
    font-weight: 700;

}


.device--desktop {
    width: 370px;
    border-radius: 0.25em;
    border-bottom: none;
    border: none;
}
.device {
    -webkit-box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid white;
    border-radius: 0.25em;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
}
.device__screen {
    display: block;
    width: 100%;
    position: relative;
}
.device__screen__fallback {
    background-size: cover;
    position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.device--play .device__screen__video {
    opacity: 1;
}
.device__screen__video {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: 1;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    opacity: 0;
}
.device--desktop:after {
    -webkit-box-shadow: inset 0px -3px 4px 0px rgba(0, 0, 0, 0.25), inset 0px 3px 3px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px -3px 4px 0px rgba(0, 0, 0, 0.25), inset 0px 3px 3px 0px rgba(255, 255, 255, 0.4);
}
.device:after {
    content: "";
    background-image: url(../media/other/reflection.svg);
    background-size: auto 100%;
    background-position: 40% center;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px -3px 6px 0px rgba(0, 0, 0, 0.25), inset 0px 3px 3px 0px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px -3px 6px 0px rgba(0, 0, 0, 0.25), inset 0px 3px 3px 0px rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
}
main.media-body {
    border-bottom: 2px solid #1675aa;
}
.o-main-banner {
    width: 100%;
    height: 360px;
    background: #eee;
    display: block;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content {
    clear: both;
    overflow: hidden;
}
.main-content>h2 {
    margin-top: 0;
}
.main-content h2, .main-content h3, .main-content h4 {
    margin-top: 0.5em;
    margin-bottom: .5em;
}
.main-blue {
    color: #427286;
    font-weight: 500;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}
@media only screen and (min-width: 64em){
    .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}

@media only screen and (min-width: 30em){
    .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.container .backcolor.widget-green {
    background-color: #D0DCCA;
}
.container figure.widget-green {
    border-color: #527C50;
}
.container .widget-green {
    border-bottom-color: #527C50;
}
.col figure {
    margin: 0;
    padding: 0;
}
figure {
    margin: 1em 40px;
}
.container figure.widget-green img {
    border-bottom-color: #527C50;
}
.col figure img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #427286;
}
.col figure figcaption {
    padding: 2em 1em;
}
.container .widget-green h3 {
    color: #527C50;
    text-transform: uppercase;
}
.col figure figcaption h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}
.container .widget-green h3 a {
    color: #527C50;
}
.main-content h2, .main-content h3, .main-content h4 {
    margin-top: 0.5em;
    margin-bottom: .5em;
}
@media only screen and (min-width: 64em){
.row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}

@media only screen and (min-width: 30em){
    .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
}
.bc-video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.bc-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
}
 .circle{
    padding: 5px 10px;
    }

.p-3 {
    padding: 0px!important;
}
i.fas.fa-bullseye.circle {
    color: #f00;
}
.im_pre{
width: 100%;
    height: 97%;


}
.im_clk{
    color: black;
}
a.im_clk:hover{
    color: black;
    text-decoration: none;
}
.padding {
    padding: 0;
    margin: 0;
}
.padding-left-right {
    padding-left: 0;
    padding-right: 0 ;
    margin-left: 0;
    margin-right: 0;
}

.all-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.jumbotron {
    background: transparent;
}
.padding-top-bottom {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
a {
    color: #000;
}
.heading {
    color: #333;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 25px;
}
.all-content p {
    font-size: 16px;
    text-align: justify;
}
.all-content-bg {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(196, 196, 197, 0.12);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.padding-top-bottom {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
        margin-top: 15px;
    margin-bottom: 15px;

}

.brd-cnt h3 {
    color: #1675aa;
}
a.pre_engg1:hover{
    text-decoration: none;
    color: black;
}
.mr-3, .mx-3 {
    margin-right: 1.5rem!important;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
    padding-top: 15px;
}
#group div{
    display: none;
}
#group div.current{
    display: block;
    /*border: 1px solid red;*/
}
#group1 div{
    display: none;
}
#group1 div.current1{
    display: block;
    /*border: 1px solid red;*/
}
#group2 div{
    display: none;
}
#group2 div.current2{
    display: block;
    /*border: 1px solid red;*/
}
#group3 div{
    display: none;
}
#group3 div.current3{
    display: block;
    /*border: 1px solid red;*/
}
#group4 div{
    display: none;
}
#group4 div.current4{
    display: block;
    /*border: 1px solid red;*/
}
#group5 div{
    display: none;
}
#group5 div.current5{
    display: block;
    /*border: 1px solid red;*/
}
p.pre_but {
    text-align: center;
}
button#next {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next1 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next2 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next3 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next4 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next5 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev1 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev5 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev4 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev3 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev2 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
/*.padding {
    padding: 0;
    margin: 0;
}
.padding-left-right {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.all-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.jumbotron {
    background: transparent;
}
.all-content-bg {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(196, 196, 197, 0.12);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.heading {
    color: #333;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    font-family: 'Garamond Bold font';
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 25px;
}*/
a.engg:hover{
    text-decoration: none;
}
a.engg{
    color: black;
}

#desk-projt{
    display: block;
}
#mobile-projt{
    display: none;
}
@media(max-width: 768px){
  #desk-projt{
    display: none;
}
#mobile-projt{
    display: block;
}
 .order-first {
    margin-left: 84px;
}

}
#desk_foot{
    display: block;
}
#mobile_foot{
    display: none;
}
@media(max-width: 768px){
  #desk_foot{
    display: none;
}
#mobile_foot{
    display: block;
}
.icons2 h3{
    margin-left: 0px;
}
.icons2 ul{
    padding-inline-start: 3px;
}
.ipad_img{
    margin-left: 35px !important;
}
.ipadmax{
    margin-left: 8px !important;
}
.foo{
    width: 50%;
}
.icons h3{
    margin-top: 30px;
}
}




/*mobile project*/
#group div{
    display: none;
}
#group div.current{
    display: block;
    /*border: 1px solid red;*/
}
#group1 div{
    display: none;
}
#group1 div.current1{
    display: block;
    /*border: 1px solid red;*/
}
#group2 div{
    display: none;
}
#group2 div.current2{
    display: block;
    /*border: 1px solid red;*/
}
#group3 div{
    display: none;
}
#group3 div.current3{
    display: block;
    /*border: 1px solid red;*/
}
#group4 div{
    display: none;
}
#group4 div.current4{
    display: block;
    /*border: 1px solid red;*/
}
#group5 div{
    display: none;
}
#group5 div.current5{
    display: block;
    /*border: 1px solid red;*/
}
p.pre_but {
    text-align: center;
}
button#next {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next1 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
}
button#next2 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next3 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next4 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#next5 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
}
button#prev1 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
}
button#prev5 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
}
button#prev4 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
}
button#prev3 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
}
button#prev {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 12px;
}
button#prev2 {
    background: #1675aa;
    border: none;
    padding: 6px 25px;
    color: white;
    border-radius: 4px;
    margin-top: 12px;
}
@media(max-width: 1024px){
    .order-first {
    margin-left: 84px;
}
.ipadmax{
    margin-left: 119px;
}
}
@media(max-width: 767px){
    .order-first {
    margin-left: 0px !important;
}
.ipad_img{
    margin-left: 0px !important;
}
.bull{
    font-size: 20px;
}
}
span.prjct_name {
    font-size: 17px;
    font-weight: 700;
    color: #1675aa;
}
span.prjct_name1 {
    font-size: 17px;
    font-weight: 500;
    /*color: #1675aa;*/
}
main.media-body.infra_prjt {
    border-bottom: 1px solid #1675aa;
}
.Portfolio_web {
    padding-top: 200px;
}
.vide-auto {
    position: absolute;
    top: 48%;
     left: 30%;
     box-shadow: 0 10px 15px 0 rgba(42,121,124,.1);
    /*right: 1%;*/
    /* -webkit-box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);*/
    /*border-top: 1px solid white;*/
    border-radius: 0.25em;
    overflow: hidden;
     /*background-color: #FFFFFF;*/
    /*width: 76%;*/

}
.content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
}
.port_cont {
      padding-left: 119px;
}
.bull{
	font-size: 18px;
    line-height: 24px;
    color: #676767;
    font-weight: 700;
    margin: 0 0 24px 0;
}
h3.website_name {
    font-size: 38px;
    line-height: 48px;
    color: #363636;
    margin: 0 0 24px 0;
   font-family: 'Raleway', sans-serif;
    /*font-weight: 900;*/
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.30rem;
    background: none;
    border: none;
    padding-right: 34px;
}
img.brand {
    width: 28px;
    padding-top: 6px;
    padding-right: 7px;
}
a.case_study {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #261d60;
}
a.case_study:hover{
	text-decoration: none;
	/* background: #fecdce;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: -1;*/
}

a,
a label {
    cursor: pointer;
}
.second_port {
    padding-top: 140px;
}
html{
	scroll-behavior: smooth;
}
a.link.link--nav.smooth {
    color: #261d60;
}
/*.port {
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 83px !important;
    position: relative;
}*/
html {
  scroll-behavior: smooth;
}
a.web {
    text-decoration: none;
}
a.web:hover {
    text-decoration: none;
    color: black;
}
.website_link {
    padding-bottom: 27px;
    color: #676767;
    font-size: 19px;
    font-weight: 700;
}
a.link.link--nav.smooth.web:hover {
    text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
@media(min-width: 1350px)and (max-width: 1399px){
    .introduction {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    height: 100vh;
    padding: 96px 24px 96px 24px;
    /* position: absolute; */
    top: -12%;
    left: 12%;
    /* z-index: 1; */
    /* position: static; */
    position: absolute;
    z-index: -1;
}
}
@media (max-width: 1280px){
     .introduction {
    left: 12%;
}
}
