.padding{
    padding:0;
    margin:0;
}
/*NavBar Section Start*/
.navbar-inverse .navbar-nav>li>a {
    color: #eee;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}
.logo{
    width:100%;
}
.container-fluid>.navbar-header{
    width:15%;
}
.navbar-inverse {
    background-color: #222;
    border-color: #222;
    z-index: 100;
    border-radius: 0;
        min-height: 95px;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar{
        min-height: 95px;
    margin-left: 20px;
    margin-right: 20px;
        margin-bottom: 0;
}
#myNavbar{
        margin-top: 22px;
}
/*NavBar Section End*/
/*Slider Section Start*/
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 0;
}
.carousel-indicators .active{
     width: 20px;
     height: 2px;
     border-radius: 0;
}
.carousel-in {
    margin-top: -95px !important;
    z-index: -1 !important;
    height: 100vh;
    width: 100%;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
    height: 100vh;
  }
.img-responsive{
    width:100%;
    height: auto;
}
.carousel-control:focus, .carousel-control:hover{
    opacity:1;
}
.carousel-control, .carousel-control{
    opacity:0;
}
.carousel-caption{
    text-align:left;
        right: unset !important;
    left: unset !important;
    padding:30px;
}
.sld-btn {
    float: right;
    margin: 12%;
    background: #ff9200;
    border: #ff9200;
    min-width: 190px;
    padding: 14px;
    font-size: 19px;
        z-index: 15;
        transition:all 0.6s;
}
.sld-btn:hover {
    color: #fff;
    background-color: #545454;
    border-color: #fff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #545454;
    border-color: #fff;
    transform:scale(1.1);
}
/*Slider Section End*/

/*jumbotron section start*/
.jumbotron{
margin-bottom:0;
background:transparent;
}
.natural{
    text-align: center;
    color: #000;
    margin: 50px;
    padding: 30px;
}
.natural h2{
    margin-top:20px;
}
.natural p{
    margin-top:20px;
}
.natural1{
       text-align: center;
    color: #000;
    padding: 30px;
    /* margin-bottom: 100px; */
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.natural1 img{
        width: 65%;
}
.img-hv{
        transition:all 0.3s cubic-bezier(.25,.8,.25,1);;
}
.img-hv:hover{
    transform:scale(1.1);
    filter:sepia(300%);
}
.natural1 h4{
        text-align: center;
    color: #545454;
    margin-top: 30px;
    font-size: 24px;
}
/*jumbotron section end*/

/*product section start*/
.prd{
  background:url('../images/millt.png') no-repeat 57% -47%;
  padding:30px;

}
.prd-grid {
    background: #eee;
    margin-bottom: 20px;
      margin-top: 20px;
      border-radius:5px;
       box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.prd-grid:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.prd-grid1 {
    background: #eee;
    margin-bottom: 20px;
      margin-top: 20px;
      border-radius:5px;
       box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.prd-grid1:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     transform:scale(1.1);
}
.prd-text{
    background:#fff;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    padding-bottom:15px;
}
.prd-text h3{
    padding-top:15px;
}
.prd-text p{
    margin-top:0;
}
.prd-text1{
    background:#fff;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    padding-bottom:15px;
}
.prd-text1 h3{
    padding-top:15px;
    margin-top: 0;
}
.prd-text1 p{
    margin-top:0;
}
.prd-grid img {
    padding-top: 50px;
    padding-bottom: 20px;
}
.prd-grid1 img {
    padding-top: 0px;
    padding-bottom: 0px;
    height:100%;
}
.btn-primary {
    color: #fff;
    background-color: #ff9100;
    border-color: #ff9100;
    border-radius: 0;
}
.bttn{
        min-width: 132px;
    border-radius: 25px;
    margin-top: 40px;
}
.btn-default{
        border-color: #ff9100;
}
/*product section end*/





/*.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin-bottom: 3rem;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}
.table td, .table th{
    text-align:center;
    vertical-align: baseline;
}
.number-input {
    margin-bottom: 0;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: .3rem;
}
.millet-bg{
       background: #000 url(../images/ml2.jpg) no-repeat;
           background-position: -80%;
       height: 100vh;
    position: relative;
}
.content{
    position: absolute;
    top: 43%;
    color: #fff;
}
.millet-sub-bg{
    background:rgba(0, 0, 0, 0.36);
    height:100%
}
.prd{
    background: #fff;
    margin: 20px;
    margin-top:0;
    text-align:center;
        border-radius: 5px;
        transition:all .7s;
}
.prd:hover{
    transform:scale(1.1)
}
.prd-img{
    width:100%;    
    padding: 20px; 
        border-radius: 5px;    
}
.prd h3{
    font-size:1rem;
    background:#ff8100;
    padding:10px;
    border-radius: 0 0 5px 5px;
    color:#fff;
}
#image-change{
    height:97%;
}*/
/*Footer Section Start*/

.footer {
    padding: 20px;
    background: #000;
}
.footer h3 {
    color: #fff;
    font-weight: 200;
    font-size: 1.5rem;
}
.footer p{
    margin-bottom:0px;
}
.footer span{
    border-bottom:1.2px solid #fff;
    padding-bottom:2px;
}
.footer a {
    color: #fff;
}
.footer:hover a{
    text-decoration:none;
}
/*Footer Section Start*/
/*Media Query Setion Start*/
@media(max-width:768px){
  
    .millet-bg{
       background-position: center left;
         height: 100vh;
    position: relative;
}
.content h4{
    text-align:center;
}
.content p{
    text-align:justify;
}
 .rounded-circle{
       width: 30%;
      margin-top: -33px;
}
}
@media(min-width:1440px){
    .millet-bg{
        
       background-position:-280%;
    }
}
/*Media Query Setion End*/