/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * akzidenz-grotesk-pro:
 *   - http://typekit.com/eulas/00000000000000003b9aeec6
 * goudy-old-style:
 *   - http://typekit.com/eulas/0000000000000000000179a7
 *   - http://typekit.com/eulas/0000000000000000000179a8
 *   - http://typekit.com/eulas/0000000000000000000179aa
 * work-sans:
 *   - http://typekit.com/eulas/00000000000000003b9b139d
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-11-26 18:58:38 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ius4oqa&ht=tk&f=25769.25770.25772.32319.37540&a=30089367&app=typekit&e=css");

@font-face {
font-family:"goudy-old-style";
src:url("https://use.typekit.net/af/cd9965/0000000000000000000179a7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cd9965/0000000000000000000179a7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cd9965/0000000000000000000179a7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"goudy-old-style";
src:url("https://use.typekit.net/af/6afdd3/0000000000000000000179a8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/6afdd3/0000000000000000000179a8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/6afdd3/0000000000000000000179a8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"goudy-old-style";
src:url("https://use.typekit.net/af/aadb84/0000000000000000000179aa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aadb84/0000000000000000000179aa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aadb84/0000000000000000000179aa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"akzidenz-grotesk-pro";
src:url("https://use.typekit.net/af/710797/00000000000000003b9aeec6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/710797/00000000000000003b9aeec6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/710797/00000000000000003b9aeec6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"work-sans";
src:url("https://use.typekit.net/af/7792f9/00000000000000003b9b139d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/7792f9/00000000000000003b9b139d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/7792f9/00000000000000003b9b139d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

.tk-goudy-old-style { font-family: "goudy-old-style",serif; }
.tk-akzidenz-grotesk-pro { font-family: "akzidenz-grotesk-pro",sans-serif; }
.tk-work-sans { font-family: "work-sans",sans-serif; }
