
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
/* ================== Root ================== */
:root {
  --blue-primary: #3880ED;
  --blue-secondary:#81C8F4;
  --black:#000;
  --dark-gray:#64748B;
  --white:#fff;
  --jura:"Jura", sans-serif;
}
body, html {
  overflow-x: hidden;
}
body{
  font-family: var(--jura);
}
.bg-blue{
  background-color: var(--blue-primary);
}
.bg-blue p, .bg-blue h3{
  color: var(--white);
}
.bg-blue .line, .bg-blue .line::before{
  background: var(--white) !important;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, h4{
  color: var(--black);
  font-weight: 700;
}
p{
  color: var(--dark-gray);
  font-size: 20px;
  font-weight: 300;
}
.main-heading{
  color: var(--black);
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.line {
    display: inline-block;
    width: 130px;
    height: 4px;
    background: var(--black);
    border-radius: 20px;
    position: relative;
}
.line::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    background: var(--black);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.custom-underline{
  position: relative;
}
.custom-underline::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-cyne);
  bottom: 0;
}
.test-container{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}
.icon-cnt{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icon-cnt::before {
    position: absolute;
    content: "";
    height: 70%;
    bottom: -50%;
    width: 2px;
    background: var(--white);
}
.test-container:last-child .icon-cnt:before {
  display: none;
}
.icon-cnt svg{
  width: 50px;
  height: auto;
  color: var(--blue-primary);
  fill: var(--blue-primary);
}
.test-cnt p, .test-cnt h4{
  color: var(--white);
}
.test-cnt p{
  font-size: 16px;
  margin-bottom: 0;
}
.test-cnt h4{
  font-size: 18px;
}
/* ================== Scroll Bar ================== */
::-webkit-scrollbar-track
{
    border-left: 1px solid #e0e0e0;
    margin: 0px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #d2d3d5;
}
.btn-primary{
  background: linear-gradient(90deg, var(--blue-primary), var(--blue-secondary));
  padding: 6px 20px;
  color: var(--white);
  text-align: center;
  width: fit-content;
  position: relative;
  border: none !important;
  outline: none !important;
}
.btn-primary::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid  var(--blue-primary);
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background: none;
  color: var(--blue-primary);

}
.btn-primary:hover::before, .btn-primary:focus::before, .btn-primary:active::before, .btn-primary.active::before {
  opacity: 1;
}
.badge {
  top: -2px;
  background: var(--white);
  position: absolute !important;
  font-size: 10px;
  right: -2px;
  color: var(--blue-primary) !important;
}
/* ================== Navbar Section ================== */
nav{
  padding: .2rem 1rem !important;
}
.navbar-brand{
  padding: 0 !important;
}
.navbar-brand img{
  height: 40px;
  margin: 0px 0;
}
.nav-item{
  padding-left: 15px !important;
  padding-right: 15PX !important;
}
.nav-link{
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nav-link::before{
  position: absolute;
  width: 0;
  height: 1px;
  background:  linear-gradient(90deg, var(--blue-primary), var(--blue-secondary));
  border-radius: 5px;
  content: "";
  transition: all .5s;
  left: 0;
  right:0;
  margin: auto;
  bottom: 6px;
}
.nav-link:hover::before{
  width:100%;
}
/* ================== Banner Section ================== */
.banner-cnt .carousel-item{
  background: url(../images/tree.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
}

.banner-cnt .carousel-item.slide1{
  background: url(../images/memorial.jpg) no-repeat;
}
.banner-cnt .carousel-item.slide2{
  background: url(../images/dna.png) no-repeat;
}
.banner-content{
  padding: 8rem 0;
}
.banner-cnt .carousel-item::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right:0;
  margin: auto;
  top: 0;
}
.banner-cnt h2, .banner-cnt p{
  position: relative;
  color: var(--white);
}
.banner-cnt h2{
  font-size: 35px;
}
.section{
  padding: 5rem 0;
}
.section:nth-child(odd){
  background-color: #F9FAFC;
}
.blue-title{
  color:var(--blue-primary)
}
.custom-card {
    background: var(--white);
    padding: 3rem 3rem;
    min-height: 250px;
    border-radius: 8px;
    margin-top: 3rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.quote {
    color: var(--blue-primary);
    fill: var(--blue-primary);
    position: absolute;
    right: 5px;
    bottom: -20px;
    width: 55px;
    height: auto;
}
.quote.rev {
    width: 40px;
    height: auto;
    transform: rotate(180deg);
    left: 5px;
    top: -12px;
}
.stars {
    position: absolute;
    top: 12px;
    color: #3880ed;
    opacity: .2;
}
.stars i:nth-child(3) {
    transform: scale(1.21);
}
.slider-section p{
    font-size: 18px;
    font-weight: 300;
    margin: 1rem 0;
}
.auth {
    font-size: 20px;
    margin: 1rem 0 0;
    color: #333;
}
.date-time{
  font-size: 14px;
  color: #C4C4C4;
}
.bule-overlay{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--blue-primary);
  opacity: .5;
}
/* ================== Responsive Section ================== */
@media(min-width:991px){
  .banner-content{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width:768px){
  .main-heading{
    flex-direction: column;
  }
}
@media(max-width:400px){
  .banner-cnt h2{
    font-size: 30px !important;
  }
  .main-heading{
    font-size: 25px;
  }
  h4{
    font-size: 18px;
  }
}
